<div class="row">
    <div class="col-md-12 pad-10">
      <button type="submit" class="btn btn-primary" (click)="goToAddEvent()">
        <span class="glyphicon glyphicon-floppy-disk"></span> Ajouter un évènement
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let event of events">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ event.price }}€</h6>
            <p class="card-text">{{ showDate(event) }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{ event.capacity }} places</h6>
            <a href="#" (click)="addUserEvent($event, event.id)" class="card-link">Acheter</a>
          </div>
        </div>
      </div>
    </div>
  </div>