<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand">Wild Circus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">Evènements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="online && !admin" routerLink="/profile">Mes tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="admin" routerLink="/ajout-event">Créer un évènement</a>
        </li>
      </ul>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <div class="nav-item">
        <a class="nav-link" *ngIf="online">Bonjour {{nickname}} !</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" *ngIf="online">Vous avez {{money}} €</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" *ngIf="online" (click)="logout()" href="">Déconnexion</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" *ngIf="!online" routerLink="/register">Inscription</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" *ngIf="!online" routerLink="/login">Connexion</a>
      </div>
    </div>
  </div>
</nav>
<script>
</script>
<router-outlet (activate)='onActivate($event)'></router-outlet>

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/events">Evènements</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>Wild Circus</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->