/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-toastr/toastr.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url("https://ak6.picdn.net/shutterstock/videos/1010643926/thumb/12.jpg") no-repeat;
    background-size: cover;
 }

.card-img-top {
    background-size: contain;
    max-height: 180px;
}