
  <div class="container">
    <div class="row justify-content-md-center">
      <form class="text-center" (ngSubmit)="createUser()">
        <p class="h4 mb-4">Sign up</p>
        <input name="nickname" type="text" id="nickname" [(ngModel)]="user.nickname" class="form-control mb-4" placeholder="Nickname" required>
        <input name="email" type="email" id="email" [(ngModel)]="user.email" class="form-control mb-4" placeholder="E-mail" required>
        <input name="password" type="password" id="password" [(ngModel)]="user.password" class="form-control mb-4" placeholder="Password" required>
        <button color="info" block="true" class="btn btn-primary" type="submit">Sign up</button>
      </form>
    </div>
  </div>